/* Reset some basic styles */
body,
html,
#root {
  background-color: #191c1a;
  margin: 0;
  padding: 0;
  width: 100%;
}

@font-face {
  font-family: "Lcd";
  src: url("./assets/Lcd.ttf") format("truetype");
}

/* Flexbox layout for app */
.app {
  display: flex;
  width: 100%;
}

/* AppBar styles */
.app-bar {
  position: fixed;
  top: 0;
  width: 100%;
  height: 60px;
  background-color: #1a2520;
  color: #1eb980;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 10px;
  z-index: 1000;
}

.menu-button {
  background: none;
  border: none;
  color: rgb(10, 172, 83);
  font-size: 30px;
  cursor: pointer;
}

.title {
  margin: 0;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.Gametitle {
  margin: 0;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  color: rgb(10, 172, 83);
  font-size: 16px;
}

.titleyue {
  margin: 0;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-right: 10px;
  color: #a8a8a8;
}

.header-right {
  display: flex;
  align-items: center;
}

.small-image {
  height: 40px;
  margin-right: 10px;
}

.header-button {
  background-color: #1eb980;
  border: none;
  color: #333333;
  width: 150px;
  padding: 8px 16px;
  cursor: pointer;
  margin-right: 200px;
  font-size: 16px;
  font-weight: bold;
  transition: background-color 0.3s;
  border-radius: 10px;
}

.header-button:hover {
  background-color: #149465;
}

.header-button:active {
  background-color: #0f5e41;
}

.paly-button {
  background-color: #1eb980;

  border: none;
  color: #333333;
  width: 200px;
  padding: 8px 16px;
  cursor: pointer;
  font-size: 25px;

  font-weight: bold;

  transition: background-color 0.3s;

  border-radius: 10px;
}

.paly-button.shift {
  margin-left: 0;
  margin-right: 0;
  margin: 0 auto;

  display: block;
}

.paly-button:hover {
  background-color: #149465;
}

.paly-button:active {
  background-color: #0f5e41;
}

.paly-button-red {
  background-color: #e57373;

  border: none;
  color: #333333;
  width: 200px;
  padding: 8px 16px;
  cursor: pointer;
  font-size: 25px;

  font-weight: bold;

  transition: background-color 0.3s;

  border-radius: 10px;
}

.paly-button-red:hover {
  background-color: #944848;
}

.paly-button-red:active {
  background-color: #522929;
}

.paly-button-ylw {
  background-color: #b9af1f;

  border: none;
  color: #333333;
  width: 200px;
  padding: 8px 16px;
  cursor: pointer;
  font-size: 25px;

  font-weight: bold;

  transition: background-color 0.3s;

  border-radius: 10px;
}

.paly-button-ylw:hover {
  background-color: #6e6813;
}

.paly-button-ylw:active {
  background-color: #423f0b;
}

.paly-button-gre {
  background-color: #10d63b;

  border: none;
  color: #333333;
  width: 200px;
  padding: 8px 16px;
  cursor: pointer;
  font-size: 25px;

  font-weight: bold;

  transition: background-color 0.3s;

  border-radius: 10px;
}

.paly-button-gre:hover {
  background-color: #0c8125;
}

.paly-button-gre:active {
  background-color: #1c3d06;
}

.paly-button-Blue {
  background-color: #1e90ff;

  border: none;
  color: #333333;
  width: 200px;
  padding: 8px 16px;
  cursor: pointer;
  font-size: 25px;

  font-weight: bold;

  transition: background-color 0.3s;

  border-radius: 10px;
}

.paly-button-Blue:hover {
  background-color: #125496;
}

.paly-button-Blue:active {
  background-color: #072038;
}

/* Sidebar styles */
.sidebar {
  width: 180px;
  background-color: #1a2520;
  color: #1eb980;
  padding-top: 60px;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  overflow-y: auto;
  transform: translateX(-240px);
  transition: transform 0.3s ease-in-out;
  z-index: 999;
}

.sidebar.open {
  transform: translateX(0);
}

.sidebar nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.sidebar nav ul li {
  padding: 10px;
  cursor: pointer;
  border-bottom: 3px solid #011a09;

  font-size: 25px;

  font-weight: bold;

  display: flex;

  justify-content: center;

  transition: background-color 0.3s;
}

.logo {
  width: 100%;
  height: auto;
  padding: 0;
  border-radius: 10px;

  /* padding: 16px; */
}

.img {
  padding: 0;
  padding: 8px 8px;
  /* padding: 16px; */
}

.tglogo {
  width: 25%;
}

.tglogo:hover {
  cursor: pointer;
}

/* Main content styles */
.content {
  margin-top: 30px;

  flex-grow: 1;
  padding: 50px 0px 0px;
  margin-left: 380px;
  margin-right: 200px;
  transition: margin-left 0.3s ease-in-out;
  color: rgb(200, 200, 200);
}

.content-data {
  margin-top: 10px;

  flex-grow: 1;
  padding: 50px 0px 0px;
  margin-left: 0;
  margin-right: 0;
  transition: margin-left 0.3s ease-in-out;
  color: rgb(200, 200, 200);
}

.content.shift {
  margin-left: 0;
}

.grid-item-H {
  background-color: #141414;
  display: flex;
  padding: 20px;
  justify-content: center;
  align-items: center;
  gap: 60px;
  border-radius: 16px;
}

.grid-item-avatar {
  display: flex;
  padding: 1px;
  justify-content: center;
  align-items: center;
  gap: 1px;
  border-radius: 1px;
}

.grid-item {
  background-color: #141414;
  padding: 16px;
  border-radius: 10px;
  text-align: center;

  gap: 16px;
}

@media (max-width: 1400px) {
  .sidebar {
    transform: translateX(-240px);
  }

  .sidebar.open {
    transform: translateX(0);
  }

  .content {
    margin-left: 0;
    margin-right: 0;
  }

  .grid-item {
    padding: 1px;

    gap: 0px;
  }

  .grid-item-H {
    gap: 0px;
    padding: 0px;
  }
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(min(600px, 100%), 1fr));
  gap: 16px;
}

.grid-container-game {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(min(800px, 100%), 1fr));
  gap: 16px;
}

.grid-container-game-fomo-3 {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(min(340px, 100%), 1fr));
  gap: 16px;
}

.grid-container-game-fomo-5 {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(min(230px, 100%), 1fr));
  gap: 16px;
}

.grid-container-game-21-5 {
  display: flex;
  flex-wrap: wrap;

  gap: 12px;

  justify-content: center;

  align-items: center;
}

.sub-grid-item {
  background-color: #f0f0f0;
  padding: 8px;
  margin: 8px 0;
  border-radius: 5px;
  gap: 16px;
}

.page {
  text-align: center;
  padding: 20px;
  background-color: #ffffff;
  border: 1px solid #ccc;
  margin: 10px;
  border-radius: 10px;
}

.footer {
  color: #b8b5b5;
  padding: 10px 0;
}

.shake {
  animation: shake 0.08s ease-in-out infinite alternate;
}

@keyframes shake {
  from {
    transform: translateX(-5px);
  }

  to {
    transform: translateX(5px);
  }
}

.buttonimg {
  width: 70px;
  height: 70px;
  background-size: cover;
  background-position: center;
  background-color: transparent;
  border: none;
  color: black;
  font-size: 22px;
  cursor: pointer;
  transition: transform 0.1s, filter 0.1s;
}

.buttonimg:hover {
  filter: brightness(1.2);
}

.buttonimg:active {
  transform: scale(0.95);
}

/* animation: neon 3s infinite; */
@keyframes neon {
  0%,
  100% {
    border-color: rgba(255, 191, 0, 0.1);
    /* Light Pink */
    box-shadow: 0 0 5px rgba(255, 191, 0, 0.1), 0 0 20px rgba(255, 191, 0, 0.1),
      0 0 40px rgba(255, 191, 0, 0.1), 0 0 80px rgba(255, 191, 0, 0.1);
  }

  20% {
    border-color: rgba(135, 206, 250, 0.5);
    /* Light Salmon */
    box-shadow: 0 0 5px rgba(135, 206, 250, 0.5),
      0 0 20px rgba(135, 206, 250, 0.5), 0 0 40px rgba(135, 206, 250, 0.5),
      0 0 80px rgba(135, 206, 250, 0.5);
  }

  40% {
    border-color: rgba(255, 182, 193, 0.5);
    /* Light Blue */
    box-shadow: 0 0 5px rgba(255, 182, 193, 0.5),
      0 0 20px rgba(255, 182, 193, 0.5), 0 0 40px rgba(255, 182, 193, 0.5),
      0 0 80px rgba(255, 182, 193, 0.5);
  }

  60% {
    border-color: rgba(144, 238, 144, 0.5);
    /* Light Green */
    box-shadow: 0 0 5px rgba(144, 238, 144, 0.5),
      0 0 20px rgba(144, 238, 144, 0.5), 0 0 40px rgba(144, 238, 144, 0.5),
      0 0 80px rgba(144, 238, 144, 0.5);
  }

  80% {
    border-color: rgba(221, 160, 221, 0.5);
    /* Plum */
    box-shadow: 0 0 5px rgba(221, 160, 221, 0.5),
      0 0 20px rgba(221, 160, 221, 0.5), 0 0 40px rgba(221, 160, 221, 0.5),
      0 0 80px rgba(221, 160, 221, 0.5);
  }
}

@keyframes neon1 {
  0%,
  100% {
    border-color: rgba(255, 182, 193, 0.1);
    /* Light Pink */
    box-shadow: 0 0 5px rgba(255, 182, 193, 0.1),
      0 0 20px rgba(255, 182, 193, 0.1), 0 0 40px rgba(255, 182, 193, 0.1),
      0 0 80px rgba(255, 182, 193, 0.1);
  }

  50% {
    border-color: rgba(255, 182, 193, 0.3);
    /* Light Green */
    box-shadow: 0 0 5px rgba(255, 182, 193, 0.3),
      0 0 20px rgba(255, 182, 193, 0.3), 0 0 40px rgba(255, 182, 193, 0.3),
      0 0 80px rgba(255, 182, 193, 0.3);
  }
}

@keyframes neon2 {
  0%,
  100% {
    border-color: rgba(255, 191, 0, 0.1);
    /* Light Pink */
    box-shadow: 0 0 5px rgba(255, 191, 0, 0.1), 0 0 20px rgba(255, 191, 0, 0.1),
      0 0 40px rgba(255, 191, 0, 0.1), 0 0 80px rgba(255, 191, 0, 0.1);
  }

  50% {
    border-color: rgba(255, 191, 0, 0.3);
    /* Light Green */
    box-shadow: 0 0 5px rgba(255, 191, 0, 0.3), 0 0 20px rgba(255, 191, 0, 0.3),
      0 0 40px rgba(255, 191, 0, 0.3), 0 0 80px rgba(255, 191, 0, 0.3);
  }
}

@keyframes neon3 {
  0%,
  100% {
    border-color: rgba(216, 191, 216, 0.1);
    /* Light Pink */
    box-shadow: 0 0 5px rgba(216, 191, 216, 0.1),
      0 0 20px rgba(216, 191, 216, 0.1), 0 0 40px rgba(216, 191, 216, 0.1),
      0 0 80px rgba(216, 191, 216, 0.1);
  }

  50% {
    border-color: rgba(216, 191, 216, 0.3);
    /* Light Green */
    box-shadow: 0 0 5px rgba(216, 191, 216, 0.3),
      0 0 20px rgba(216, 191, 216, 0.3), 0 0 40px rgba(216, 191, 216, 0.3),
      0 0 80px rgba(216, 191, 216, 0.3);
  }
}

@keyframes neon4 {
  0%,
  100% {
    border-color: rgba(255, 200, 124, 0.1);
    /* Light Pink */
    box-shadow: 0 0 5px rgba(255, 200, 124, 0.1),
      0 0 20px rgba(255, 200, 124, 0.1), 0 0 40px rgba(255, 200, 124, 0.1),
      0 0 80px rgba(255, 200, 124, 0.1);
  }

  50% {
    border-color: rgba(255, 200, 124, 0.3);
    /* Light Green */
    box-shadow: 0 0 5px rgba(255, 200, 124, 0.3),
      0 0 20px rgba(255, 200, 124, 0.3), 0 0 40px rgba(255, 200, 124, 0.3),
      0 0 80px rgba(255, 200, 124, 0.3);
  }
}

@keyframes neon5 {
  0%,
  100% {
    border-color: rgba(135, 206, 250, 0.1);
    /* Light Pink */
    box-shadow: 0 0 5px rgba(135, 206, 250, 0.1),
      0 0 20px rgba(135, 206, 250, 0.1), 0 0 40px rgba(135, 206, 250, 0.1),
      0 0 80px rgba(135, 206, 250, 0.1);
  }

  50% {
    border-color: rgba(135, 206, 250, 0.3);
    /* Light Green */
    box-shadow: 0 0 5px rgba(135, 206, 250, 0.3),
      0 0 20px rgba(135, 206, 250, 0.3), 0 0 40px rgba(135, 206, 250, 0.3),
      0 0 80px rgba(135, 206, 250, 0.3);
  }
}

@keyframes neon6 {
  0%,
  100% {
    border-color: rgba(144, 238, 144, 0.1);
    /* Light Pink */
    box-shadow: 0 0 5px rgba(144, 238, 144, 0.1),
      0 0 20px rgba(144, 238, 144, 0.1), 0 0 40px rgba(144, 238, 144, 0.1),
      0 0 80px rgba(144, 238, 144, 0.1);
  }

  50% {
    border-color: rgba(144, 238, 144, 0.3);
    /* Light Green */
    box-shadow: 0 0 5px rgba(144, 238, 144, 0.3),
      0 0 20px rgba(144, 238, 144, 0.3), 0 0 40px rgba(144, 238, 144, 0.3),
      0 0 80px rgba(144, 238, 144, 0.3);
  }
}

@keyframes neon7 {
  0%,
  100% {
    border-color: rgba(32, 178, 170, 0.1);
    /* Light Pink */
    box-shadow: 0 0 5px rgba(32, 178, 170, 0.1),
      0 0 20px rgba(32, 178, 170, 0.1), 0 0 40px rgba(32, 178, 170, 0.1),
      0 0 80px rgba(32, 178, 170, 0.1);
  }

  50% {
    border-color: rgba(32, 178, 170, 0.3);
    /* Light Green */
    box-shadow: 0 0 5px rgba(32, 178, 170, 0.3),
      0 0 20px rgba(32, 178, 170, 0.3), 0 0 40px rgba(32, 178, 170, 0.3),
      0 0 80px rgba(32, 178, 170, 0.3);
  }
}

@keyframes neon8 {
  0%,
  100% {
    border-color: rgba(188, 143, 143, 0.1);
    /* Light Pink */
    box-shadow: 0 0 5px rgba(188, 143, 143, 0.1),
      0 0 20px rgba(188, 143, 143, 0.1), 0 0 40px rgba(188, 143, 143, 0.1),
      0 0 80px rgba(188, 143, 143, 0.1);
  }

  50% {
    border-color: rgba(188, 143, 143, 0.3);
    /* Light Green */
    box-shadow: 0 0 5px rgba(188, 143, 143, 0.3),
      0 0 20px rgba(188, 143, 143, 0.3), 0 0 40px rgba(188, 143, 143, 0.3),
      0 0 80px rgba(188, 143, 143, 0.3);
  }
}

@keyframes neon9 {
  0%,
  100% {
    border-color: rgba(255, 218, 185, 0.1);
    /* Light Pink */
    box-shadow: 0 0 5px rgba(255, 218, 185, 0.1),
      0 0 20px rgba(255, 218, 185, 0.1), 0 0 40px rgba(255, 218, 185, 0.1),
      0 0 80px rgba(255, 218, 185, 0.1);
  }

  50% {
    border-color: rgba(255, 218, 185, 0.3);
    /* Light Green */
    box-shadow: 0 0 5px rgba(255, 218, 185, 0.3),
      0 0 20px rgba(255, 218, 185, 0.3), 0 0 40px rgba(255, 218, 185, 0.3),
      0 0 80px rgba(255, 218, 185, 0.3);
  }
}

.imagetransition {
  width: 100px;
  /* Set the width of the image */
  height: 153px;
  /* Set the height of the image */
}

.announcement-container {
  position: fixed;
  top: 50px;

  left: 0;
  width: 100%;
  overflow: hidden;
  background-color: rgba(0, 0, 0, 0.5);

  z-index: 1000;

  border: none;

  display: flex;

  align-items: center;

  height: 30px;
}

.announcement-content {
  white-space: nowrap;
  animation: scroll-left 20s linear forwards;
  color: #d9f84d;

  display: flex;

  align-items: center;

  padding-top: 7px;
}

@keyframes scroll-left {
  0% {
    transform: translateX(100vw);
  }

  100% {
    transform: translateX(-100%);
  }
}
